@model RestaurantRegistration.Models.Restaurant

@{
    ViewBag.Title = "Delete";
}

<h2 style="color: rebeccapurple; text-align: center">Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="Delete">
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResturantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResturantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuisineType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuisineType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatingHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatingHours)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }


    <style>
        .Delete {
            margin-left: 500px;
            margin-right: 100Px;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    </style>
</div>
