@model RestaurantRegistration.Models.Restaurant

@{
    ViewBag.Title = "Details";
}

<h2 style="color: rebeccapurple; text-align: center">Details</h2>

<div class="Details">
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResturantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResturantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuisineType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuisineType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatingHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatingHours)
        </dd>

    </dl>
</div>
<div class="Action">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ResturantID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
<style>
    .Details {
        margin-left: 500px;
        margin-right: 100Px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .Action {
        margin-left: 500px;
        margin-right: 100Px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
</style>