@model IEnumerable<RestaurantRegistration.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2 style="color: rebeccapurple; text-align: center">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResturantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuisineType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperatingHours)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResturantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuisineType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperatingHours)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResturantID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResturantID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResturantID })
        </td>
    </tr>
}

</table>
